.optionWrapper {
  display: none;
  flex-direction: column;
  width: 224px;
  height: 272px;
  overflow-y: auto;
}

.optionWrapper.open {
  display: flex;
}

.select {
  position: relative;
  cursor: pointer;
  width: 135px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 89px 14px 18px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;

  border-radius: 14px;

  background: transparent;
  outline: none;
  border: none;
}

.backspan {
  position: absolute;
  top: -7px;
  width: 135px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 89px 14px 18px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;

  border-radius: 14px;

  background: rgb(247, 247, 251);
  outline: none;
  border: none;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.defaultOption {
  width: 135px;
}

.wrapper {
  position: relative;
  width: 135px;
}

.arrowDown {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;

  position: absolute;
  right: 15px;
  top: 15px;
}

.option {
  color: rgba(18, 20, 23, 0.2);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 8px;
  height: 130px;
  border-radius: 10px;

  background: rgba(18, 20, 23, 0.05);
}
::-moz-scrollbar-thumb {
  width: 8px;
  height: 130px;

  border-radius: 10px;

  background: rgba(18, 20, 23, 0.05);
}
::-ms-scrollbar-thumb {
  width: 8px;
  height: 130px;
  border-radius: 10px;

  background: rgba(18, 20, 23, 0.05);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
::-moz-scrollbar-thumb:hover {
  background: transparent;
}
::-ms-scrollbar-thumb:hover {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-moz-scrollbar-track {
  background: transparent;
}
::-ms-scrollbar-track {
  background: transparent;
}
